div#myDiv{
    background-color: cyan;
    width: 300px;
    height: 300px;
    max-width: 100%;
}
article a{
    color: lab(46.23% -51.7 49.9);
}
.credits{
    color: grey;
}
@media screen and (min-width:576px){
    /*tablet + smartphone grandi*/
    div#myDiv{
        background-color: pink;
        width: 300px;
        height: 300px;
    }   
}
@media screen and (min-width:768px) {
    /*tablet + notebook piccoli*/
    div#myDiv{
        background-color: orange;
        width: 300px;
        height: 300px;
    }   
}
@media screen and (min-width:992px) {
    /*notebook + desktop*/
    div#myDiv{
        background-color: green;
        width: 300px;
        height: 300px;
    }   
}