body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    padding: 20px;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    margin: 10px;
}