table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #f9f9f9;
}

td, th {
    padding: 10px;
    text-align: center;
    border: 1px solid #444;
}

th {
    background-color: #ddd;
    font-weight: bold;
}
