:root{
    --delta-green: #7CFF00;
    --grey: #EEEEEE;
}
#img-logo-small{
    max-width: 4rem;
}
#img-logo{
    max-width: 12rem;
}
.bg-delta{
    background-color: var(--delta-green);
}
.bg-grey{
    background-color: var(--grey);
}
h3{
    font-weight: 600;
    color: var(--delta-green);
}
.accordion-button:not(.collapsed) {
    background-color: var(--delta-green);
    color: white;
}