body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.box {
    width: 300px;
    height: 100px;
    background-color: blue;
    color: white;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .box {
        background-color: red;
        width: 100%;
    }
}
