nav#menu{
    background-color: rgb(79, 104, 112);
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 2rem;
    z-index: 1;
}
nav#menu a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 1.5rem;
}
#pannello{
    width: 100%;
    height: 400px;
    border: 2px solid black;
    position: relative;
}
.box1, .box2, .box3 {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    display: inline-block;
}
.box1{
    background-color: lightblue;
}
.box2{
    background-color: lightgreen;
    position: relative;
    top: 30px;
    right: 30px;
}
.box3{
    background-color: lightcoral;
    position: absolute;
    bottom: 0;
    left: 0;
}
div#wa{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 5em;
}
div#wa a{
    color: #25D366;
    background-color: white;
}
