:root{
    --colore-primario: #9d6754;
    --colore-secondario: #adbabd;
    --colore-info: #5a5766;
    --size-font-base: 16px;
}
/* mobile first */
html {
    font-size: var(--size-font-base);
}
h1 {
    color: var(--colore-primario);
}
h3 {
    color: var(--colore-secondario);
}
#primo {
    color: gray;
}
.importante {
    color: brown;
}
h2.importante {
    color: purple;
}
h2 {
    color: var(--colore-secondario);
}
* {
    color: var(--colore-info);
}
nav#menu-principale li{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Lucida Sans';
    display: inline;
    margin-right: 1rem;
}
li#selected{
    text-decoration: underline;
    color: var(--colore-primario);
}
article ul > li{
    color: var(--colore-secondario);
}
article ul li + li{
    color: teal;
}   
ul li ~ li{
    text-decoration: overline;
}

table td, table th {
    border: 1px solid black;
    padding: 0.5rem;
}
table th {
    background-color: lightgray;
}
#titoli-fratelli h2 + h2 {
    border: 2px solid blue;
}
#titoli-fratelli h2 ~ h2 {
    background-color: lightblue;
}
div[lang="en"] {
    font-style: italic;
}
div[lang="it"] {
    text-decoration: wavy underline;
}
div[lang]{
    font-size: 1.5rem;
}
@media (min-width: 576px) { 
    h2 {
        color: orange;
    }
    #primo {
        color: rgb(39, 37, 37);
    }
}
@media (min-width: 992px) { 
    h2 {
        color: green;
    }
}
@media (min-width: 1200px) { 
    h2 {
        color: yellow;
    }
}